
$mobile-width: "(max-width: 767px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1220px)";

//colors

$blue-base: #81b3d2;
$gray-base: #eeeeee;
$blue-darker: #669ec0;
$blue-darkest: #5496bd;

$gray-very-light:  #f2f2f2;
$gray-light: #e5e5e5;

//typography

$font-base: "PT Sans", "Arial", sans-serif;

$font-size-base: 14px;
$font-size-big: round($font-size-base * 1.3); // 18px
$font-size-bigger: round($font-size-base * 1.5); // 21px
$font-size-biggest: round($font-size-base * 2.15); // 30px

$line-height-base: 21px;
$line-height-big: round($line-height-base * 1.15); // 24px
$line-height-bigger: round($line-height-base * 1.24); // 26px
$line-height-biggest: round($line-height-base * 1.91); // 40px
