body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-base;
  text-transform: uppercase;

  @media #{$desktop-width} {
    background-color: #f2f2f2;
  }
}

.clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.no-js .main-nav {
  display: block
}

::-webkit-input-placeholder {
  font-weight: bold;
  color:#000000;
}

::-moz-placeholder {
  color:#000000;
}/* Firefox 19+ */

:-moz-placeholder {
  color:#000000;
}/* Firefox 18- */

:-ms-input-placeholder {
  color:#000000;
}
