body {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.to-left {float: left;}
.to-right {float: right;}
