body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

::-webkit-input-placeholder {
  font-weight: bold;
  //font-size: $font-size-big;
  //line-height: $line-height-big;
  color:#000000;
}

::-moz-placeholder {
  color:#000000;
}/* Firefox 19+ */

:-moz-placeholder {
  color:#000000;
}/* Firefox 18- */

:-ms-input-placeholder {
  color:#000000;
}
