.btn {
  display: block;

  font-size: $font-size-bigger;
  line-height: $line-height-bigger;

  color: #ffffff;
  text-decoration: none;

  background: $blue-base;
  outline: none;
  border: none;

  &--search {
    padding: 16px 35px 16px;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--restart {
    margin-left: 10px;
    padding: 0;

    background-color: #f2f2f2;
    border: none;

    @media #{$tablet-width} {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      margin-right: 30px;
    }
  }

  &--submit {
    padding: 16px 46px 16px;
    margin: 0 auto;

    text-transform: uppercase;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }

    @media #{$tablet-width} {
      margin: 0;
      padding: 16px 72px 16px;
    }

    @media #{$desktop-width} {
      padding: 16px 149px 16px;
    }
  }

  &--failure {
    padding: 16px 124px;
    margin: 0 auto;

    text-transform: uppercase;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--succes {
    padding: 16px 155px;
    margin: 0 auto;

    text-transform: uppercase;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
