.btn {
  display: block;

  font-size: $font-size-bigger;
  line-height: $line-height-bigger;

  color: #ffffff;
  text-decoration: none;

  background: $blue-base;
  outline: none;
  border: none;

  &--search {
    padding: 16px 46px 16px;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--submit {
    padding: 16px 46px 16px;
    text-transform: uppercase;
  }
}
