.btn {
  display: block;

  font-size: $font-size-bigger;
  line-height: $line-height-bigger;

  color: #ffffff;
  text-decoration: none;

  background: $blue-base;
  outline: none;
  border: none;

  &--search {
    padding: 16px 46px 16px;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--restart {
    border: none;
  }

  &--submit {
    padding: 16px 46px 16px;
    margin: 0 auto;

    text-transform: uppercase;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }

    @media #{$tablet-width} {
      margin: 0;
      padding: 16px 75px 16px;
    }

    @media #{$desktop-width} {
      padding: 16px 147px 16px;
    }
  }
}
