@import "../variables.scss";

.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid #0000AA;

  @media #{$tablet-width} {
    width: 768px;
    padding: 0;
  }

  @media #{$desktop-width} {
    width: 1200px;
  }
}
