.controls {
  position: absolute;
  left: 50%;
  bottom: -66px;

  margin-left: -140px;
  width: 280px;

  &__time {
    position: relative;
    padding-top: 21px;
    padding-right: 22px;
    padding-left: 22px;
    height: 24px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  &__line {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &--toggle {
    position: absolute;
    top: 18px;
    left: 65px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &__views {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 66px;

    //font-size: 0;
    background-color: #f2f2f2;

    & label {
      display: none;
    }

    
    & input[id="subtitles"] {
      margin-left: 120px;
    }
  }

  @media #{$tablet-width} {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //align-items: flex-end;
    bottom: 0;
    width: 100%;
    margin-left: -324px;
    //background-color: rgba(0, 0, 0, 0.6);

    &__time {
      position: absolute;
      left: 94px;
      bottom: 10px;
      padding-top: 12px;
      width: 389px;
      //padding: 0;
      background-color: rgba(0, 0, 0, 0);
      //background-color: none;
    }

    &--toggle {
      top: 15px;
    }

    &__views {
      background-color: rgba(0, 0, 0, 0.6);
      //display: block;
      //
      //width: 100%;
    }
  }
}
