.controls {
  position: absolute;
  bottom: -66px;
  left: 50%;

  width: 280px;
  margin-left: -140px;

  &__time {
    position: relative;

    height: 24px;
    padding-top: 21px;
    padding-right: 22px;
    padding-left: 22px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  &__line {
    height: 3px;

    background-color: rgba(255, 255, 255, 0.2);
  }

  &--toggle {
    position: absolute;
    top: 18px;
    left: 65px;
    width: 9px;

    height: 9px;

    border-radius: 50%;
    background-color: #ffffff;
  }

  &__views {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 66px;

    background-color: $gray-very-light;

    & input[type="checkbox"] {
      display: none;
    }

    & svg {
      vertical-align: middle;
    }
  }

  &__views-subtitles {
    margin-left: 120px;
  }

  &__views-fullscreen {
    margin-right: 10px;
  }


  @media #{$tablet-width} {
    position: relative;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin-left: -324px;

    &__time {
      position: absolute;
      left: 94px;
      bottom: 23px;

      padding: 0;
      width: 382px;

      background-color: rgba(0, 0, 0, 0);
    }

    &--toggle {
      top: -3px;
    }

    &__views {
      height: 92px;

      background-color: rgba(0, 0, 0, 0.6);

      & svg {
        fill: #ffffff
      }
    }

    &__views-subtitles {
      margin-left: 400px;
    }
  }


  @media #{$desktop-width} {
    margin-left: -400px;

    &__time {
      width: 540px;
    }

    &__views-subtitles {
      margin-left: 550px;
    }
  }
}
