.features {
  text-align: center;

  &__header {
    @include base-header;
  }

  &__title {
    @include base-title;
  }

  &__description {
    @include base-description;
  }

  &__bg--gray {
    background-color: $gray-base;

    // Линии снизу у преимуществ 3 и 4

    & .feature__text {
      border-bottom: 1px solid #d6d6d6;

      // Удаляются линии и отступы на планшетной версии

      @media #{$tablet-width} {
        border: none;
        padding-bottom: 0;
      }
    }

    // Удаляется линия у пятого преимущества на мобильной версии

    & .feature:last-child {
      & .feature__text {
        border-bottom: none;
      }
    }
  }

  // Выравнивание преимуществ с картинкой по левому краю

  &__row--left {
    padding-bottom: 30px;

    & .feature {
      margin-left: 70px;

      text-align: left;

      // Выравнивание преимуществ с картинкой по центру

      @media #{$tablet-width} {
        padding-top: 160px;
        margin: 0 30px;

        text-align: center;
      }

      &__text {
        margin: 20px 0 0;
        padding: 0;
      }
    }
  }

  @media #{$tablet-width} {

    &__header {
      margin: 50px 140px;
    }

    &__title {
      font-size: $font-size-bigger;
    }

    &__row {
      display: flex;
    }

    // Меняем местами картинку и надпись 2-го преимущества

    &__row:nth-child(4) {
      & .feature {
        order: 1;
      }
    }

    // Меняем местами блок Еда и блок Сувениры

    &__row--left {
      & .feature:nth-child(2) {
        order: 2;
      }
    }
  }

  @media #{$desktop-width} {
    &__header {
      margin-right: 357px;
      margin-left: 357px;
    }

    &__row--left {
      padding-bottom: 50px;
    }
  }
}
