.feature-picture {
  margin: 0;
  height: 260px;

  overflow: hidden;

  &__img {
    //width: 320px;
    //height: 260px;
    //height: 260px;
    //transform: translateX(-20%);
  }

  @media #{$tablet-width} {
    //width: 2/3*100%;
    height: 256px;
    //float: right;
    //margin: 0;
    //width: 512px;
    //height: 256px;

    &__img {
      width: 512px;
      height: 256px;
    }
  }

  @media #{$desktop-width} {
    //width: 800px;

    &__img {
      width: 800px;
      height: auto;
      //height: 260px;
      transform: translateY(-15%);
    }
  }
}
