.feature-picture {
  margin: 0;
  height: 260px;

  overflow: hidden;

  &__img {
    width: 400px;
    height: 260px;
  }

  @media #{$tablet-width} {
    height: 256px;

    &__img {
      width: 512px;
      height: 256px;
    }
  }

  @media #{$desktop-width} {
    //width: 800px;

    &__img {
      width: 800px;
      height: auto;

      transform: translateY(-15%);
    }
  }
}
