.feature {
  padding-top: 25px;

  &__bg--blue {
    padding-top: 40px;

    background-color: $blue-base;
    color: #ffffff;

    // Переопределяем отступ снизу у синих блоков

    & .feature__text {
      padding-bottom: 40px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-big;
    line-height: $line-height-bigger;
  }

  &__number {
    margin-top: 13px;
    margin-bottom: 17px;

    //Декоративные полоски у номера

    &:after, &:before {
      content: "—";
    }

    &:before {
      margin-right: 5px;
    }

    &:after {
      margin-left: 5px;
    }
  }

  &__text {
    margin: 0 30px;
    padding-bottom: 25px;
  }

  &--icon {
    position: relative;
  }

  &__icon-img {
    position: absolute;
    left: -55px;
    top: 0;

    width: 40px;

    fill: $blue-base;
  }

  @media #{$tablet-width} {
    //padding-top: 0;
    width: 256px;

    &__bg--blue {
      height: 216px;
    }

    &__title {
      margin-left: 55px;
      margin-right: 55px;
    }

    &__number {
      margin-bottom: 25px;
    }

    &__text {
      padding: 0;

      border-bottom: none;
    }

    &__icon-img {
      left: 50%;
      top: 57px;
      width: 72px;

      transform: translateX(-50%);
    }
  }

  @media #{$desktop-width} {
    padding-top: 50px;
    width: 400px;

    &__bg--blue {
      height: 206px;
    }

    &__title {
      margin-left: 130px;
      margin-right: 130px;
    }

    &__text {
      margin: 0 85px;
    }
  }
}
