.feature-picture {
  overflow: hidden;
  height: 260px;

  &__img {
    height: 260px;
    transform: translateX(-20%);
  }

  @media #{$tablet-width} {
    //float: right;
    //margin: 0;
    width: 512px;
    height: 256px;

    &__img {
      transform: translateX(0);
    }
  }

  @media #{$desktop-width} {
    width: 800px;

    &__img {
      height: 260px;
      transform: translateX(-20%);
    }
  }
}
