.intro {
  position: relative;
  text-align: center;
  background: url("../img/bg-back-mobile.jpg");
  background-size: cover;
  background-position: center;

  height: 389px;
  margin-top: -28px;
  overflow: hidden;

  @media (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-mobile@2x.jpg");
    background-position: center;
    background-size: cover;
  }

  &__picture {

  }

  @media #{$tablet-width} {
    height: 518px;
    margin-top: 0;
  }
}
