.logo {
  position: relative;
  z-index: 2;

  text-align: center;

  &__picture {
    width: 103px;
    height: 82px;
  }

  @media #{$tablet-width} {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  @media #{$desktop-width} {
    &__picture {
      width: 188px;
      height: auto;
    }
  }
}
