.main-nav {
  position: relative;

  width: 320px;
  min-height: 55px;

  text-align: center;

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
    font-weight: bold;
  }

  &__link {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;

    font-size: $font-size-big;
    line-height: $line-height-biggest;
    color: #ffffff;
    text-decoration: none;

    background-color: $blue-base;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
  }

  &__toggle {
    position: absolute;
    bottom: 45px;
    right: 20px;

    width: 23px;
    height: 21px;

    font-size: 0;
  }

  &__toggle--opened {
    top: 17px;
  }


  @media #{$mobile-width} {
    &--closed {
      display: none;
    }
  }


  @media #{$tablet-width} {
    width: auto;

    min-height: 55px;

    &__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    &__item {

    }

    &__link {
      padding: 0;
      padding-top: 15px;
      padding-bottom: 15px;

      font-size: $font-size-base;
      line-height: $line-height-bigger;
      color: #000000;

      background: none;
      border: none;
    }

    &__item:nth-child(2) {
      margin-right: 150px;
    }

    &__toggle {
      display: none;
    }
  }
}


