.main-nav {
  position: relative;

  //width: 320px;
  //min-height: 55px;

  text-align: center;

  @media #{$mobile-width} {
    display: none;

    &--open {
      display: block;
    }
  }

  &--close {
    position: absolute;
    top: 17px;
    right: 17px;

    padding: 0;
    width: 25px;
    height: 25px;

    border: none;
    background-color: transparent;
    outline: none;
  }

  &__list {
    margin: 0;
    padding: 0;

    font-weight: bold;

    list-style: none;
  }

  &__link {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;

    font-size: $font-size-big;
    line-height: $line-height-biggest;

    color: #ffffff;
    text-decoration: none;
    background-color: $blue-base;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;

    &:hover {
      background-color: $blue-darker;
    }

    &:active {
      background-color: $blue-darkest;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__toggle {
    position: absolute;
    bottom: 45px;
    right: 17px;
    z-index: 2;

    width: 25px;
    height: 25px;
    padding: 0;

    font-size: 0;
    border: none;
    background-color: #ffffff;
    outline: none;
  }

  &__toggle--opened {
    display: none;
  }


  @media #{$tablet-width} {
    width: auto;
    min-height: 55px;

    &--opened {
      display: none;
    }

    &--close {
      display: none;
    }

    &__list {
      font-size: 0;
    }

    &__item {
      display: inline-block;
      width: 20%;

      vertical-align: top;
    }

    &__link {
      padding: 15px 0;

      font-size: $font-size-base;
      line-height: $line-height-bigger;

      color: #000000;
      background: none;
      border: none;

      &:hover {
        color: $blue-base;
        background-color: #ffffff;
      }

      &:active {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    &__item:nth-child(2) {
      margin-right: 20%;
    }

    &__toggle {
      display: none;
    }
  }
}


