.main-nav {
  position: relative;

  width: 320px;
  min-height: 55px;

  text-align: center;

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
    font-weight: bold;
  }

  &__link {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;

    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;

    background-color: $main-color;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
  }

  &__toggle {
    position: absolute;
    bottom: 45px;
    right: 20px;

    width: 23px;
    height: 21px;

    font-size: 0;
  }

  &__toggle--opened {
    top: 17px;
  }

  @media #{$mobile-width} {
    &--closed {
      display: none;
    }
  }

  @media #{$tablet-width} {
    width: auto;

    min-height: 55px;

    &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__item {

    }

    //&__item:nth-child(3) {
    //  margin-left: 160px;
    //}

    &__toggle {
      display: none;
    }
  }
}


