.media-picture {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-left: 20px;
  margin-right: 20px;

  &__description {
    display: flex;
    flex-direction: column;

    line-height: $line-height-big;
    font-weight: bold;
  }

  &__author {
    line-height: $line-height-big;
    font-weight: normal;
    text-transform: none;
  }

  &__img {
    padding-bottom: 17px;
  }

  img {
    width: 280px;
    height: 280px;
  }

  @media #{$tablet-width} {
    img {
      width: 324px;
      height: 267px;
    }

    img:first-child {
      width: 100%
    }
  }

  @media #{$desktop-width} {
    img {
      width: 400px;
      height: 267px;
    }

    img:first-child {
      width: 100%
    }
  }
}
