.media {
  margin-bottom: 140px;

  &__header {
    @include base-header;
  }

  &__title {
    @include base-title;
  }

  &__description {
    @include base-description;
  }

  &__items {
    display: flex;
    flex-direction: column;

    padding-top: 23px;
    padding-bottom: 20px;

    border-top: 1px solid #e5e5e5;
  }

  &__like-number {
    margin-left: 57px;

    line-height: $line-height-big;
  }

  &__video {
    padding-top: 35px;

    text-align: center;

    border-top: 1px solid #e5e5e5;
    }

  &__video-title {
    font-size: $font-size-big;
    line-height: $line-height-bigger;
    font-weight: bold;
  }

  &__video-description {
    margin: 30px 25px 35px 25px;

    line-height: $line-height-big;
  }

  &__video-content {
    position: relative;

    height: 201px;

    background-image: url("../img/video-mobile.jpg");
  }


  @media #{$tablet-width} {
    display: flex;
    flex-wrap: wrap;

    margin-left: 60px;
    margin-right: 60px;

    &__header {
      padding: 50px 0;
      margin-left:  110px;
      margin-right: 110px;
    }

    &__title {
      font-size: $font-size-biggest;
      line-height: $line-height-biggest;
    }

    &__items {
      position: relative;

      padding: 0;
      width: 324px;

      border: none;
    }

    &__items:nth-child(2) {
      width: 100%;
    }

    &__like {
      position: absolute;
      bottom: 30px;
      right: 21px;
      z-index: 2;
    }

    &__video {
      padding-top: 65px;

      border: none;
    }

    &__video-title {
      font-size: $font-size-biggest;
      line-height: $line-height-biggest;
    }

    &__video-description {
      margin-bottom: 75px;
      margin-left: 115px;
      margin-right: 115px;
    }

    &__video-content {
      position: static;

      display: flex;
      height: 500px;
    }
  }


  @media #{$desktop-width} {
    margin: 0;

    &__header {
      padding-top: 105px;
    }

    &__items {
      width: 400px;
    }

    &__like {
      color: #d4d5d4;
    }

    &__video {
      margin: 0 auto;

      width: 800px;
    }

    &__video-description {
      margin-left: 190px;
      margin-right: 190px;
    }
  }
}


