.media-picture {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-left: 20px;
  margin-right: 20px;

  &__description {
    display: flex;
    flex-direction: column;

    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 20px;

    line-height: $line-height-big;
    font-weight: bold;
  }

  &__author {
    line-height: $line-height-big;
    font-weight: normal;
    text-transform: none;
  }

  &__img {
    width: 280px;
    height: 280px;
  }

  @media #{$tablet-width} {
    margin: 0;

    &__description {
      background-color: $gray-base;
    }

    &__img {
      width: 324px;
      height: 267px;
    }

    &__img:first-child {
      width: 100%
    }
  }

  @media #{$desktop-width} {
    &__img {
      width: 400px;
      height: 267px;
    }

    &__img:first-child {
      width: 100%
    }

    &__description {
      position: absolute;
      z-index: 2;
      bottom: 0;

      width: 100%;
      box-sizing: border-box;

      color: #d4d5d4;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
