.social-link {
  padding: 17px 13px 15px 15px;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  box-sizing: border-box;

  font-size: 0;
  text-align: center;

  background-color: $blue-base;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    & > svg {
      fill: #88b6d1;
    }
  }
}
